排班系統/.vs/排班系統/CopilotIndices/17.13.444.19527/CodeChunks.db
排班系統/.vs/排班系統/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
排班系統/.vs/排班系統/CopilotIndices/17.13.444.19527/CodeChunks.db-wal
排班系統/.vs/排班系統/CopilotIndices/17.13.444.19527/SemanticSymbols.db
排班系統/.vs/排班系統/CopilotIndices/17.13.444.19527/SemanticSymbols.db-shm
排班系統/.vs/排班系統/CopilotIndices/17.13.444.19527/SemanticSymbols.db-wal
排班系統/.vs/排班系統/FileContentIndex/97a09bbb-3df8-42c6-bf5e-19e7ab112bcd.vsidx
排班系統/.vs/排班系統/v17/.wsuo
排班系統/.vs/排班系統/v17/DocumentLayout.backup.json
排班系統/.vs/排班系統/v17/DocumentLayout.json
排班系統/.vs/ProjectSettings.json
排班系統/.vs/slnx.sqlite
排班系統/排班系統/bin/Debug/排班系統.exe
排班系統/排班系統/bin/Debug/排班系統.exe
排班系統/.gitignore
排班系統/排班系統/obj/Debug/DesignTimeResolveAssemblyReferences.cache
排班系統/排班系統/bin/Debug/排班系統.exe
排班系統/排班系統/bin/Debug/排班系統.pdb
排班系統/排班系統/obj/Debug
排班系統/排班系統/bin/Debug/排班系統.exe
排班系統/排班系統/Form1.Designer.cs
排班系統/.vs/排班系統/FileContentIndex/cced7a73-8b4d-4bf7-add8-6793be768091.vsidx
排班系統/.vs/排班系統/FileContentIndex/0765e26b-5d8d-4624-8459-9e9d5d7e46eb.vsidx
排班系統/排班系統/bin/Debug/排班系統.exe
排班系統/排班系統/bin
排班系統/排班系統/obj
